/* Global */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Segoe Print', 'Freestyle Script', 'Lucida Calligraphy', 'Lucida Handwriting', 'Segoe Script', 'Comic Sans', cursive;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100vw;
  height: 100vh;
  background-color: #f6f7f8;
  overflow: hidden;
  background-size: 40px 40px;
  background-image: url(grid.svg);
  user-select: none;
}

.zxFlexCenter {
  align-items: center;
  justify-content: center;
}

.zxFlexGrow {
  flex: 1;
}

.zxFlexRow {
  display: flex;
  flex-direction: row;
}

.zxFlexCol {
  display: flex;
  flex-direction: column;
}

.zxTextCenter {
  text-align: center;
}

.zxBox {
  width: 40vw;
  height: 40vh;
}

.zxPaper {
  background: #fff;
  padding: 1rem;
  border: solid 2px #41403E;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

hr {
  margin: 1rem 0;
  border-top: none;
  border-top: solid 1px #41403E;
}

hr .zxVr {
  margin: 0 1rem;
  border-left: solid 1px #41403E;
}

#zxiChatLog {
  white-space: pre-line;
}

#zxiSvg {
  cursor: url(pencil.png) 0 128, auto;;
}

path,
.zxStroke {
  fill: none;
  fill-opacity: 0;
  stroke: #222;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
